/* custome and override style*/

.added-to-fav {
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
}

.favourites-list li {
  padding: 10px;
}

.favourites-panel.open {
  overflow: auto;
}

.favourites-header h2 {
  padding-top: 19px;
}

.site-header {
  position: fixed;
  width: 100%;
}

.site-content {
  padding-top: 64px;
}
